.App {
  text-align: center;
}

.center {
  display:flex;
  justify-content: center;
}

.particles {
  position:fixed; /*Everything Stays Where it is */
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:-1; /*It tells You What layer you want the image to be on*(-1=Below Everything)*/
}